/*
	Theme Name: Mogo
*/

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;

}

html, body, h1, h2, h3, h4, h5, h6, p, ul, input, button {
	padding: 0;
	margin: 0;
	border: none;
	font-size: 100%;
} 

article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section {
	display: block;
}

ul, ol {
	list-style-type: none;
}

a {
	text-decoration: none;
}


/* ============== GENERAL CLASSES ============== */

.container {
	margin: 0 auto;
}

.row:after {
	content: '';
	display: block;
	clear: both;
}

.section-padding {
	padding: 70px 10px;
}

.line {
	width: 50px;
	height: 3px;
	margin: 20px auto;
}

.line-red {
	background-color: #f38181;
}

.line-white {
	background-color: #fff;
}

.line-blue {
	background-color: #95e1d3;
}

.section-header {
	text-align: center;
	color: #333;
}

.section-header h1 {
	font-family: 'Kaushan Script', cursive;
	font-size: 1.5rem;
}

.section-header h2 {
	font-size: 2rem;
	text-transform: uppercase;
}

.section-p {
	width: 80%;
	margin: 0 auto 40px auto;
	color: #999;
	text-align: center;
}

.example-photo {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.example-photo img {
	display: block;
	width: 100%;
	height: auto;
}

.example-photo img:last-child {
	margin-bottom: 0;
}

.example-photo-hover {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px;
	background-color: rgba(149, 225, 211, 0.8);
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;

}

.fp-none {
	color: #333;
	text-align: center;
}

.main-hr {
	border: 0;
	height: 1px;
	width: 100%;
	background-color: #e5e5e5;
	margin: 10px 0;
}

.page-header {
	font-family: 'Kaushan Script', cursive;
	font-size: 2rem;
	text-align: center;
	color: #95e1d3;
}

/* SCROLLBAR CSS WORK FOR OPERA AND CHROME */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
}
 
::-webkit-scrollbar-thumb {
    background: #95e1d3; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6da298; 
}

/* ============== TEMPLATE PARTS ============== */

/* Content */

.post {
	margin-bottom: 40px;
}

.post:last-child {
	margin-bottom: 0;
}

.post-thumbnail {
	width: 100%;
	height: 220px;
	position: relative;
	background-position: center;
	background-size: cover;
}

.post-date {
	color: #fff;
	font-size: 1.4rem;
	font-weight: 600;
	position: absolute;
	bottom: 5px;
	left: -5px;
	height: 60px;
	width: 50px;
	background-color: #95e1d3;
	text-align: center;
}

.post-title {
	text-transform: uppercase;
	color: #333;
	margin: 10px 0;
}

.post-title:hover {
	color: #629289;
}

.post-content {
	color: #999;
}

/* Content None */

.not-found {
	text-align: center;
}

/* Content Single */

.single-post-title {
	text-transform: uppercase;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 30px;
	color: #f38181;
}

.single-post-tags {
	color: #f38181;
}

.single-post-tags a {
	color: #f38181;
}

.single-post-tags a:hover {
	color: #773f3f;
}

.single-post-category {
	color: #95e1d3;
	margin: 20px 0;
}

.single-post-category a {
	color: #95e1d3;
}

.single-post-category a:hover {
	color: #456862;
}

.single-post-thumbnail img {
	width: 100%;
	height: auto;
}

.single-post-content img {
	width: 100%;
	height: auto;
}

/* Portfolio Content */

/* Portfolio Content None */

/* ============== WP FILES ============== */

/* 404 */

.error-404 {
	font-size: 30px;
	color: #f38181;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
}

/* Archive */

/* Comments */

.hr-comments {
	border: 0;
	height: 3px;
	background-color: #95e1d3;
	margin: 15px 0;
}

.comments-area {
	margin-top: 30px;
}

.comment-body {
	margin-bottom: 15px;
}

.comment a {
	color: #95e1d3;
}

.comment-respond {
	text-align: center;
}

.comment-notes {
	margin-bottom: 20px;
}

#cancel-comment-reply-link {
	color: #f38181;
}

.comment-reply-title a {
	color: #95e1d3;
}

.comment-form input, .comment-form textarea {
	display: block;
	width: 80%;
	margin: 0 auto 15px auto;
	background-color: #f8f8f8;
	border: none;
	padding: 10px;
}

.comment-form .submit {
	max-width: 200px;
	background-color: #95e1d3;
	color: #fff;
	padding: 10px;
}

/* Page */

/* Search */

/* Search Form */

.error404 .search-form {
	margin-top: 50px;
}

.search-field {
	display: block;
	width: 90%;
	margin: 0 auto;
	background-color: #f8f8f8;
	height: 40px;
	padding: 5px;
	color: #999;
	font-family: 'Montserrat', sans-serif;
}

.search-submit {
	display: block;
	max-width: 200px;
	background-color: #95e1d3;
	color: #fff;
	padding: 10px;
	margin: 15px auto 0 auto;
	font-family: 'Montserrat', sans-serif;
}

/* Sidebar */

.sidebar-right {
	width: 100%;
}

.sidebar-right label {
	color: #444982;
}

.sidebar-right select {
	border: 1px solid #e7e7e7;
	width: 100%;
}

.sidebar-right a {
	color: #444982;
}

.sidebar-right a:hover {
	font-weight: 600;
}

.widget {
	text-align: center;
	padding: 5px;
	margin-bottom: 20px;
}

.widget:last-child {
	margin-bottom: 0;
}

.widgettitle {
	border-bottom: 3px solid #fce38a;
	color: #444982;
	margin-bottom: 10px;
}

/* Single */

.single-post-container {
	width: 100%;
}

/* Pagination */

.pagination {
	margin-top: 20px;
	color: #f38181;
}

.pagination a {
	color: #f38181;
}

.pagination a:hover {
	color: #924f4f;
}

/* ============== HEADER ============== */

.home .welcome {
	height: 100vh;
	background-image: url('assets/img/header-bg.jpg');
	background-position: center;
	background-size: cover;
}

.home .welcome {
	padding-top: 20px;
}

.home .site-headers {
	display: block;
}

.site-title {
	text-align: center;
	font-weight: 700;
}

.welcome {
	padding: 10px 0;
	background-color: #f38181;
}

.site-headers {
	display: none;
}

.site-title {
	color: #fff;
	font-weight: 600;
	font-size: 30px;
}

.site-headers {
	text-align: center;
	color: #fff;
	margin-top: 30px;
}

.site-headers h1 {
	font-family: 'Kaushan Script', cursive;
	font-size: 1.7rem;
}

.site-headers h2 {
	text-transform: uppercase;
	font-size: 2.5rem;
}

.site-headers h3 {
	border: 3px solid #fff;
	padding: 10px 5px;
	width: 150px;
	margin: 20px auto 0 auto;
	text-transform: uppercase;
}

/* ============== FOOTER ============== */

.footer {
	background-color: #f8f8f8;
	padding-bottom: 0;
}

.footer-info h1 {
	color: #ccc;
	font-weight: 700;
	font-size: 2rem;
}

.footer-info p {
	color: #999;
	margin: 20px 0;
}

.footer-info span {
	color: #333;
	font-weight: 600;
}

.follow a {
	margin: 0 10px;
}

.newsletter-form {
	margin: 30px 0;
}

.newsletter-form input {
	height: 40px;
	padding: 5px;
	border: 1px solid #e7e7e7;
}

.newsletter-form button {
	background-color: #95e1d3;
	color: #fff;
	text-transform: uppercase;
	height: 40px;
	padding: 5px;
	width: 150px;
	font-weight: 600;
}

.footer-blog > h1 {
	margin-bottom: 30px;
}

.footer-blog h1 {
	color: #333;
}

.footer-post {
	margin-bottom: 20px;
}

.footer-post:last-child {
	margin-bottom: 0;
}

.footer-post-thumbnail {
	float: left;
	width: 20%;
}

.footer-post-thumbnail img {
	width: 100%;
	height: auto;
	padding-right: 10px; 
}

.footer-post-content {
	width: 80%;
	float: left;
}

.footer-post-content span {
	color: #999;
	font-style: italic;
}

.footer-post-content h1:hover {
	color: #95e1d3;
}

.copyright {
	padding-bottom: 10px; 
	text-align: center;
	color: #333;
}

/* ============== FRONT PAGE ============== */

/* Example Photos */

/* Numbers */

.numbers {
	background-color: #95e1d3;
}

.number {
	text-align: center;
	text-transform: uppercase;
	padding: 40px 10px;
	color: #fff;
	border-bottom: 2px solid #fff;
}

.number:last-child {
	border-bottom: none;
}

.number h1 {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 15px; 
}

.number p {
	}

/* Services */

.services {
	margin-top: 50px;
}

.service {
	margin-bottom: 20px;
}

.service:last-child {
	margin-bottom: 0;
}

.service-icon {
	float: left;
	width: 20%;
	text-align: center;
}

.service-content {
	float: left;
	width: 80%;
}

.service-content h1 {
	color: #333;
	margin-bottom: 10px;
}

.service-content p {
	color: #999;
}

/* Design */

.design {
	position: relative;
	background-image: url('assets/img/bg-1.jpg');
	background-image: cover;
	background-position: center;
	height: 450px;	
}

.design-img {
	width: 100%;
	position: absolute;
	bottom: -20px;
	left: 0;
}

.design-img img {
	display: block;
	margin: 0 auto;
	width: 250px;
	height: 256px;
}


/* Services Tabs */

.services-tabs-img, .tabs {
	width: 100%;
}

.services-tabs-img {
	margin-bottom: 30px;
}

.services-tabs-img img {
	width: 100%;
	height: auto;
	display: block;
}

.tab {
	margin-bottom: 20px;
}

.tab:last-child {
	margin-bottom: 0;
}

.tab-header {
	border: 1px solid #cccccc;
	padding: 5px;
}

.tab-header h1 {
	margin: 5px;
	text-transform: uppercase;
	color: #333; 
	font-weight: 400;
}

.tab-header * {
	float: left;
}

.tab-header .arrow {
	float: right;
	margin-top: 10px;
}


.arrow {
	transition: transform 1s;
}

.tab-content {
	display: none;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding: 5px;
	font-style: italic;
	color: #999;
	max-height: 100px;
	overflow-y: scroll;
}

/* Testimonials Slideshow Styles */

.testimonials-slideshow {
	padding: 30px 0;
}

.testimonials-slideshow .readmore {
	color: #f38181;
}

.testimonials-slideshow .readmore:hover {
	font-weight: 600;
}


.testimonials-slideshow .wpmslider-viewport {
	max-width: 80%;
	margin: 0 auto;
}

.testimonials-slideshow .testimonial-content {
	color: #999999;
	font-style: italic;
}

.testimonials-slideshow .testimonial-content:after {
	content: '';
	display: block;
	clear: both;
}

.testimonials-slideshow .testimonial-image {
	float: left;
	margin-right: 20px;
}

.testimonials-slideshow .testimonial-client {
	margin-top: 20px;
}

.testimonials-slideshow .testimonial-name {
	position: relative;
	font-family: 'Kaushan Script', cursive;
	margin-left: 50px;

}

.testimonials-slideshow .testimonial-name:before {
	position: absolute;
	content: '';
	bottom: 10px;
	left: -50px;
	width: 40px;
	height: 3px;
	background-color: #f38181;
}

/* Testimonials */

#testimonials-3 .readmore {
	color: #f38181;
}

#testimonials-3 .readmore:hover {
	font-weight: 600;
}

#testimonials-3 .testimonial-content {
	color: #999;
}

#testimonials-3 .testimonial-image {
	float: left;
	margin-right: 10px;
}

#testimonials-3 .testimonial-image img {
	border-radius: 90px;
}

#testimonials-3 .testimonial-client {
	margin-top: 15px;
}

#testimonials-3 .testimonial-name {
	color: #333;
	text-transform: uppercase;
	font-weight: 600;
}

#testimonials-3 .testimonial-company a{
	color: #333;
	font-style: italic;
}


/* Testimonials 1 */

#testimonials-1 {
	background-color: #f8f8f8;
}

/* Team */

.person {
	margin-bottom: 40px;
}

.person:last-child {
	margin-bottom: 0;
}

.person .example-photo {
	float: none;
	width: 100%;
}

.person .example-photo-hover {
	background-color: transparent;
	padding: 0;
}

.person-info {
	margin-top: 20px;
	text-align: center;
}

.person-info h1 {
	color: #333;
	text-transform: uppercase;
}

.person-info h2 {
	color: #999;
	font-style: italic;
	font-weight: 300;
	margin-top: 10px;
}


.team-social {
	text-align: center;
}

.team-social a {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-color: #fce38a;
	background-position: center;
	background-repeat: no-repeat;
}

.team-social a:hover {
	background-color: #f38181;
}

.fb-icon {
	background-image: url('assets/img/fb-red.png');
}

.fb-icon:hover {
	background-image: url('assets/img/fb-white.png');
}

.twitter-icon {
	background-image: url('assets/img/twitter-red.png');
}

.twitter-icon:hover {
	background-image: url('assets/img/twitter-white.png');
}

.pin-icon {
	background-image: url('assets/img/pin-red.png');
}

.pin-icon:hover {
	background-image: url('assets/img/pin-white.png');
}

.insta-icon {
	background-image: url('assets/img/insta-red.png');
}

.insta-icon:hover {
	background-image: url('assets/img/insta-white.png');
}

/* Portfolio */

.portfolio-photo {
	position: relative;
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
}

.portfolio-photo .example-photo-hover {
	box-shadow: none;
}

.portfolio-photo .example-photo-hover a {
	color: #fff;
}

.portfolio-none {
	text-align: center;
	margin: 50px 0;
	color: #333;
	font-size: 2rem;
}

/* Testimonials 2 */

#testimonials-2 {
	
}

/* Testimonials 3 */

#testimonials-3 {
	background-image: url('assets/img/bg2.jpg');
}

#testimonials-3 .testimonial {
	margin-bottom: 30px;
}

#testimonials-3 .testimonial p {
	word-break: break-all;
}

#testimonials-3 .strong-view .strong-content.strong-grid .testimonial-inner {
	flex: 0 1 auto;
}

/* Map */

.map {
	background-image: url('assets/img/map-bg.jpg');
	text-align: center;
	background-size: cover;
}

.map img {
	margin-bottom: 10px;
}

.map a {
	color: #f38181;
	text-transform: uppercase;
}


@media screen and (min-width: 576px) {


	.container {
		width: 90%;
	}

	.section-padding {
		padding-right: 0;
		padding-left: 0;
	}

	.number {
		border-left: 2px solid #fff;
		border-bottom: none;
		float: left;
		width: 20%;
	}

	.number:last-child {
		border-right: 2px solid #fff;
	}

	.portfolio-photo {
		float: left;
		width: 50%;
	}
}

@media screen and (min-width: 768px) {

	.site-title {
		float: left;
		width: 20%;
		height: 50px;
		line-height: 50px;
	}

	.main-menu {
		float: left;
		width: 80%;
	}

	.post {
		float: left;
		width: 32%;
		margin-right: 2%;
		margin-bottom: 30px;
	}

	.post:nth-child(3n+0) {
		margin-right: 0;
	}

	.post-date {
		left: -10px;
		bottom: 10px;
	}

	.example-photo {
		width: 32%;
		margin-right: 2%;
		margin-bottom: 0;
	}

	.example-photo:last-child {
		margin-right: 0;
	}

	.home .welcome {
		background-color: transparent;
	}

	.site-title {
		text-align: left;
	}


	.service {
		float: left;
		width: 49%;
		margin-right: 2%;
	}

	.service:nth-child(2n+0) {
		margin-right: 0;
	}

	.service:nth-child(5n) {
		margin-bottom: 0;
	}

	.person {
		float: left;
		width: 32%;
		margin-right: 2%;
	}

	.person:last-child {
		margin-right: 0;
	}

	.services-tabs-img, .tabs {
		float: left;
		width: 49%;
	}

	.services-tabs-img {
		margin-right: 2%;
		margin-bottom: 0;
	}

	.services-tabs-img img {
		width: 100%;
		height: auto;
	}

	.portfolio-photo {
		width: 33.33%;
	}


	.footer-info {
		width: 45%;
		float: left;
		margin-right: 10%;
	}

	.footer-blog {
		width: 45%;
		float: left;
	}

	.site-headers h1 {
		font-size: 2rem;
	}

	.site-headers h2 {
		text-transform: uppercase;
		font-size: 2.7rem;
	}

}

@media screen and (min-width: 992px) {


	.example-photo-hover {
		display: none;
		position: absolute;
		height: 100%;
		padding: 0px;
		top: 0;
		background: linear-gradient(to bottom, rgba(243, 129, 129, 0.7), rgba(252, 227, 138, 0.7));
		box-shadow: 10px 10px 0px #95e1d3;
	}

	.photo-hover-text {
		position: absolute;
		height: 10%;
		width: 100%;
		top: 45%;
	}

	.portfolio .example-photo-hover {
		line-height: 300px;
	}

	.service {
		width: 32%;
	}

	.service:nth-child(4n) {
		margin-bottom: 0;
	}

	.service:nth-child(2n+0) {
		margin-right: 2%;
	}

	.service:nth-child(3n+0) {
		margin-right: 0;
	}

	/* Portfolio */

	.portfolio-photo {
		width: 25%;
	}


	 .single-post-container {
	 	float: left;
		width: 80%;
		margin-right: 2%;
	 }

	 .sidebar-right {
	 	float: left;
		width: 18%;
	 }

	 .site-headers {
	 	margin-top: 50px;
	 }

	 .site-headers h1 {
		font-size: 2.3rem;
	}

	.site-headers h2 {
		text-transform: uppercase;
		font-size: 3rem;
	}

}

@media screen and (min-width: 1200px) {

	.container {
		max-width: 1200px;
	}

	.portfolio-photo {
		width: 20%;
	}

	.site-headers {
	 	margin-top: 50px;
	 }

	 .site-headers h1 {
		font-size: 4rem;
	}

	.site-headers h2 {
		text-transform: uppercase;
		font-size: 6rem;
	}

}